<!DOCTYPE html>
html
    head
        - var page = { title: 'Новости факультета международных связей' }
        include inc/head.pug
    body
        .wrapper
            include inc/header.pug
            include inc/news/content.pug
            include inc/footer.pug
        include inc/scripts.pug