hr
.main_menu.bottom_menu
    ul.nav
        for menu_item, index in main_menu
            li
                a(href="#")=menu_item

footer
    .container
        .logos
            <a href="http://president.gov.by" rel="nofollow" target="_blank" title="Сайт президента РБ"><img src="/img/presidentgovby.jpg" height="80"></a>
            <a href="https://abiturient.by/" rel="nofollow" target="_blank"><img src="/img/abiturient.jpg" height="80"></a>
            <a href="http://www.mshp.gov.by/" rel="nofollow" target="_blank" title="Министерство сельского хозяйства и продовольствия"><img src="/img/minselhozprod.jpg" height="80"> </a>
            <a href="http://pravo.by" rel="nofollow" target="_blank" title="Правовой портал РБ"><img src="/img/pravoby.jpg" height="80"></a>
            <a href="https://edu.gov.by/" rel="nofollow" target="_blank" title="Министерство образования РБ"><img src="/img/minobr.jpg" height="80"></a>
            <a href="https://apk.1prof.by/" rel="nofollow" target="_blank" title="Сайт профсоюза работников"><img src="/img/apk.jpg" height="80"></a>
            <a href="https://www.belarus.by/ru/" rel="nofollow" target="_blank" title="Сайт Республики Беларусь"><img src="/img/belby.jpg" height="80"></a>
            <a href="http://studyinby.com" rel="nofollow" target="_blank" title="Образование в Беларуси"><img src="/img/education.jpg" height="80"></a>
            <a href="https://export.by/" rel="nofollow" target="_blank" title="Портал информационной поддержки экспорта"><img src="/img/exportby.jpg" height="80"></a>
            <a href="http://www.ipps.by:9102/RatingPortal/About" rel="nofollow" target="_blank" title="Портал рейтинговой оценки качества оказания услуг организациями РБ"><img src="/img/reiting-kat.jpg" height="80"></a>
        p.copyright Copyright © 2004-2021 УО «БГСХА»