.container
    .page_content
        .sidebar
            ul
                -for(var s=1;s<=10;s++)
                    li
                        a(href="#") Link #{s}

        .content
            ul.breadcrumb
                li
                    a(href="#") Главная
                li
                    a(href="#") Сектор менеджмента качества

            <h1>Сектор менеджмента качества</h1>
            <p>Сектор менеджмента качества Академии был создан в 2010 году с целью поддержания в рабочем состоянии системы менеджмента качества, повышения её результативности в соответствии с требованиями Государственного стандарта Республики Беларусь СТБ ISO 9001-2015, путём решения следующих задач:</p>
            <ul>
            <li>формирование организационной структуры системы управления качеством и координация деятельности по качеству подразделений вуза;</li>
            <li>разработка программ, методической документации и рекомендаций для обеспечения управления качеством образовательной и научно-исследовательской деятельности;</li>
            <li>сбор, анализ и контроль результатов функционирования всех процессов и процедур СМК академии;</li>
            <li>вовлечение руководства, преподавателей, специалистов, обучающихся в академии в процесс улучшения деятельности на основе принципов и методов менеджмента качества;</li>
            <li>популяризация и осуществление идей, методов и моделей менеджмента качества в академии.</li>
            </ul>
            <table>
            <tbody>
            <tr>
            <td>
            <img src="/img/mangutova-20.jpg">
            </td>
            <td>
            <div>
            <b>Мангутова Валентина Валерьевна </b>
            </div>
            <div style="margin-left: 20px;" valign="top">Заведующий сектором <br>тел.:8(022233)79955</div></td>
            </tr>
            <tr>
            <td>
            <img src="/img/ovsyanko.jpg">
            </td>
            <td>
            <div>
            <b>Овсянко Светлана Владимировна</b>
            </div>
            <div style="margin-left: 20px;">Ведущий специалист сектора <br>тел.:8(029)7422057</div>
            </td>
            </tr>
            <tr>
            <td>
            <img src="/img/mataseva.jpg">
            </td>
            <td>
            <div>
            <b>Матасёва Виктория Владимировна </b>
            </div>
            <div style="margin-left: 20px;">Ведущий специалист сектора <br>тел.:8(029)3150084</div>
            </td>
            </tr>
            </tbody>
            </table>
            <p align="center">
            <strong>Контактная информация:</strong> <br>
            </p>
            <p align="center">213407, Могилевская обл., г. Горки, ул. Мичурина, 5, ауд. 532 <br>Телефон 7-99-55 &nbsp;&nbsp; <br>Email: <a href="mailto:smk@baa.by">smk@baa.by</a></p>