.container
    .page_content
        .sidebar
            ul
                -for(var s=1;s<=10;s++)
                    li
                        a(href="#") Link #{s}

        .content
            ul.breadcrumb
                li
                    a(href="#") Главная
                li
                    a(href="#") Контакты

            <h1>Контакты</h1>
            p
                <b>Учреждение образования «Белорусская государственная орденов Октябрьской Революции и Трудового Красного Знамени сельскохозяйственная академия»</b>
            p
                <b>Адрес:</b> 213410, Могилевская обл., г. Горки, ул. Мичурина, 5
            p
                <b>Банковские реквизиты:</b> ЦБУ №708<br> ОАО «АСБ Беларусбанк» г.Горки,<br> р/с BY25AKBB36329000012567300000, БИК AKBBBY2Х, УНП 700077852, ОКПО 00493043
            p
                <b>Проезд:</b> по железной дороге до станции Погодино (г. Горки), а также автобусом от Минска, Витебска, Могилева, Гомеля, Орши, Бобруйска, Дрибина, Мстиславля, Глуска до автовокзала г. Горки.
            p
                <b>Приемная ректора:</b> +375 2233 79641
            p
                <b style="color:red;">Приемная комиссия:</b> +375 2233 75965 (тел./факс), +375 2233 79731
            p
                <b>E-mail:</b> <a href="mailto:pk_bgsha@baa.by ">pk_bgsha@baa.by </a> (приемная комиссия),  <a href="mailto:kancel@baa.by">kancel@baa.by</a> (ректор)
            <h2>Ректорат</h2>
            <table border="1" cellpadding="10" cellspacing="1" class="my" width="98%">
            <tbody>
            <tr>
            <th class="my" width="41%">Должность</th>
            <th class="my" width="22%">Номер телефона</th>
            <th class="my" width="35%">Ф.И.О.</th>
            </tr>
            <tr>
            <td class="my"><b>Ректор</b></td>
            <td align="center" class="my">7-94-92</td>
            <td class="my"><b>ВЕЛИКАНОВ</b><br>Виталий Викторович</td></tr><tr>
            <td class="wh"><b>Первый проректор</b></td>
            <td align="center" class="my">5-09-52</td>
            <td class="wh"><b>КОЛМЫКОВ</b><br> Андрей Васильевич</td>
            </tr>
            <tr>
            <td class="my"><b>Приемная</b></td>
            <td align="center" class="my">7-96-41</td>
            <td class="my"><b>КОВАЛЕВА</b><br>Елена Владимировна</td>
            </tr>
            <tr>
            <td class="wh"><b>Проректор по научной работе</b></td>
            <td align="center" class="my">7-96-21</td>
            <td class="wh"><b>ТИБЕЦ</b><br>Юрий Леонидович</td>
            </tr>
            <tr>
            <td class="my"><b>Проректор по воспитательной работе</b></td>
            <td align="center" class="my">7-96-03</td>
            <td class="my"><b>ПОТАПЕНКО</b>&nbsp;<br>Максим Валентинович</td>
            </tr>
            <tr>
            <td class="wh"><b>Проректор по учебной работе</b></td>
            <td align="center" class="my">7-99-37</td>
            <td class="wh"><b>ВОЛКОВ</b><br>Михаил Михайлович</td>
            </tr>
            <tr>
            <td class="my"><b>Проректор по ФПК</b></td>
            <td align="center" class="my">7-97-71</td>
            <td class="my"><b>ЧЕЧЕТКИН</b><br>Александр Сергеевич</td>
            </tr>
            <tr>
            <td class="wh"><b>Проректор по АХР</b></td>
            <td align="center" class="my">7-99-94</td>
            <td class="wh"><b>КОПЫТОВСКИЙ</b><br>Виктор Владимирович</td>
            </tr>
            <tr>
            <td class="my"><b>Главный бухгалтер</b></td>
            <td align="center" class="my">7-64-94</td>
            <td class="my"><b>ДЕРЮЖКОВ</b><br>Алексей Владимирович</td>
            </tr>
            </tbody>
            </table>