.main_content
    .container
        <p align="center">
        <strong><span style="color: #1976d2;">Допускается цитирование материалов при условии размещения в тексте активной ссылки на сайт академии: <a href="https://baa.by">www.baa.by</a></span></strong>
        </p>

        <div class="main_blue_box">
        <p align="center">
        <a href="https://baa.by/abiturient/zaochoe/"> <span style="font-size: 21px; color: FireBrick;"><strong>Прием документов на заочную форму обучения<br>с 15 ноября по 5 декабря </strong></span></a><br></p>
        <p align="center">
        <a href="https://baa.by/abiturient/zaochoe/"> <span style="font-size: 18px; color: white;"><strong>График работы приемной комиссии:<br>с 9-00 до 18-00 (без обеда, без выходных). </strong></span></a><br>
        </p>
        <p align="center">
        <a href="https://baa.by/abiturient/zaochoe/"> <span style="font-size: 21px; color: #FFD700"><strong>Полная и сокращенная форма получения первого высшего образования <br>Тел. 8 02233 75965 </strong></span></a><br>
            </p>
            <p align="center">
        <a href="/upload/bgsha_priem_zaochnoe_budjet25.pdf"><span style="font-size: 18px; color: #ffcdd2;"><strong>Информация о ходе приема документов на заочную форму обучения (бюджет)</strong></span></a><strong><br>
        <a href="/upload/bgsha_priem_zaochnoe_platno25.pdf"><span style="font-size: 18px; color: #ffcdd2;">Информация о ходе приема документов на заочную форму обучения (платно)</span></a><br>
        <a href="/upload/bgsha_priem_zaochnoe_sso25.pdf"><span style="font-size: 18px; color: #ffcdd2;">Информация о ходе приема документов на заочную форму обучения (ССО)</span></a></strong>
        </p>
        <p align="center">&nbsp;
            </p>
            <p align="center">
        <a href="https://baa.by/zaochnoe/vshab/info/"> <span style="font-size: 21px; color: #FFD700"><strong> Второе высшее образование в Высшей школе агробизнеса<br>Тел.факс: 8 02233 79707, моб.: +375 29 540 27 24</strong></span></a><br>
            </p>
        <strong>
        <p align="center">
        <a href="/upload/kredit-na-obuchenie.pdf"> <span style="font-size: 18px; color: #006400"><strong>Кредиты на обучение от ОАО «АСБ Беларусбанк» </strong></span></a><br>
        </p>
        <p align="center">
        <a href="/upload/rekviziti.pdf"> <span style="font-size: 14px; color: FireBrick;"><strong>ВНИМАНИЕ!!! </strong><br>
        </span> <span style="font-size: 14px; color: white;"> Для оплаты за обучение, изменены банковские реквизиты.<br>(в ЦБУ № 708 ОАО «АСБ Беларусбанк» в г. Горки БИК АКВВВY2X)</span></a>
            </p>
        </strong>
        </div>
        <p align="center">
        <a href="https://goo.gl/forms/qCjRxCur5XIyef162"><strong><span style="color: #1976d2;">Уважаемые абитуриенты! Предлагаем вам заполнить </span></strong><span style="color: #1976d2;"><strong><span style="color: #c62828;">Анкету</span> для получения индивидуальной консультации</strong></span></a>
        </p>


        .main_services
            -for(var ms=1;ms<=4;ms++)
                .item
                    a(href="#")
                        figure
                            img(src="img/mainpm004.jpg")
                            figcaption Перечень услуг и их стоимость <br> 1-й этап



        .main_row
            .left_col
                .h1 НОВОСТИ АКАДЕМИИ
                .news_list
                    -for(var n=1;n<=14;n++)
                        .news_list_item
                            .news_item_image
                                a(href="#")
                                    img(src="img/5156bcf4f73cde4d305d28329e39c5d5.jpg")
                            .news_item_content
                                .title
                                    .date 23.11.2021
                                    a(href="#")
                                        b Приглашение к участию в межкультурном студенческом онлайн форуме
                                .excerpt Омский государственный аграрный университет им. П. А. Столыпина приглашает студентов Белорусской государственной сельскохозяйственной академии принять участие в межкультурном студенческом онлайн-форуме  «Student’s Vision of the World».

            .right_col
                .h2 ИНФОРМАЦИОННО-КОММУНИКАЦИОННЫЕ ТЕХНОЛОГИИ В ОБРАЗОВАТЕЛЬНОМ ПРОЦЕССЕ

                <div class="fadein">
                    <a href="/informatsionno-kommunikatsionnye-tekhnologii-v-obrazovatelnom-protsesse/"><img src="/img/tehnologii.jpg"> <img src="/img/tehnologii1.jpg"><img src="/img/tehnologii2.jpg"> <img src="/img/tehnologii3.jpg"><img src="/img/tehnologii1.jpg"> <img src="/img/tehnologii2.jpg"><img src="/img/tehnologii.jpg"></a>
                </div>

                .main_services.column
                    -for (var ms = 1; ms <= 2; ms++)
                       .item
                           a(href="#")
                               figure
                                   img(src="img/mainpm004.jpg")
                                   figcaption Перечень услуг и их стоимость <br> 1-й этап
                <iframe width="280" height="150" src="https://www.youtube.com/embed/WH6QSGS9tOM?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                hr
                <div class="example2">
                <a href="#"> <img width="140" src="/img/edinstvo-2021-1.jpg" height="190"></a>
                </div>
                hr
                <p>
                <a href="/reyting-studentov-dlya-poseleniya"><strong>Рейтинг студентов для поселения</strong></a>
                </p>
                hr
                <p>
                <a href="/upload/privivka.pdf"><strong>Сведения об организации вакцинации<br> против COVID-19 </strong></a></p>
                hr
                <p>
                    <a href="https://drive.google.com/drive/folders/1p80zf5dC7_-dF1PtgdcbCvy9UdNErB_N?usp=sharing"><big><span style="font-size: 18px; color: #B22222"> <strong>Видеоролики «СтопКовид»</strong></span></big></a>
                </p>
                hr
                <p>
                <a href="/rovd"><strong>Информация Горецкого РОВД</strong></a>
                </p>
                hr
                <p>
                <a href="/upload/pomosch.pdf"><strong>Волонтерская помощь одиноким пожилым гражданам и инвалидам</strong></a>
                </p>
                hr
                .main_services.column
                    -for (var ms = 1; ms <= 2; ms++)
                       .item
                           a(href="#")
                               figure
                                   img(src="img/mainpm004.jpg")
                                   figcaption Перечень услуг и их стоимость <br> 1-й этап

                <h2>ВИДЕОБЛОГ</h2>
                <p align="center">
                <span style="font-size: 12px;"><span style="color: #1E90FF"><strong>ФИЛЬМ К 180-ЛЕТИЮ СО ДНЯ ОСНОВАНИЯ АКАДЕМИИ</strong></span> </span>
                </p>
                <iframe width="280" height="150" src="https://www.youtube.com/embed/_gEKmca6ZAE?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p align="right">Просмотр видео на официальном <a rel="nofollow" href="https://www.youtube.com/user/HorkiBaa/videos?view_as=subscriber">YouTube-канале... </a></p>
                <div class="fadein">
                <a href="#"><img src="/img/slide1.jpg"> <img src="/img/slide2.jpg"> <img src="/img/slide3.jpg"> <img src="/img/slide4.jpg"> <img src="/img/slide5.jpg"> <img src="/img/slide6.jpg"></a>
                </div>



        .main_services
            -for (var ms = 1; ms <= 4; ms++)
                .item
                    a(href="#")
                        figure
                            img(src="img/mainpm004.jpg")
                            figcaption Перечень услуг и их стоимость <br> 1-й этап


        .widjet
            .column
                <h2>Об академии:</h2>
                <p>Белорусская государственная орденов Октябрьской Революции и Трудового Красного Знамени сельскохозяйственная академия сегодня является крупнейшим многопрофильным высшим учебным заведением агропромышленного направления среди стран СНГ и Европы.</p>
                <p>За свою историю БГСХА подготовила более 100 000 высококвалифицированных специалистов для агропромышленного комплекса страны и других отраслей народного хозяйства. Многие из них стали видными государственными деятелями, учеными, руководителями крупных учреждений, предприятий и вносят большой вклад в развитие народного хозяйства страны. <a href="/ovuze/">Подробнее...</a></p>
                <iframe width="360" height="225" src="https://www.youtube.com/embed/aRPj2Sxf9_I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            .column
                <h2>Полезная информация:</h2>
                <ul>
                <li><a href="https://baa.by/buklety/">Буклеты о порядке трудовой деятельности в Республике Беларусь и о безопасном трудоустройстве за границей</a></li>
                <li><strong><a href="https://baa.by/news/?ELEMENT_ID=4054">Вакцинация от COVID-19</a></strong></li>
                <li><a rel="nofollow" href="http://gsz.gov.by/registration/vacancy-search/?profession=&amp;business_entity=&amp;region=22672&amp;district=23455&amp;village_council=&amp;salary_min=&amp;salary_max=&amp;work_mode=&amp;employment_nature=&amp;education=&amp;workplace_category=&amp;search_period=0&amp;paginate_by=&amp;sort_by=&amp;extended_search=True">Актуальные вакансии Горецкого района</a></li>
                <li><strong><a href="/ovuze//raspisanie/">Расписание занятий</a></strong></li>
                </ul>
                <p>
                <strong>Периодические издания</strong>
                </p>
                <ul>
                <li><a href="/upload/vestnik/informaciya-dlya-podpischikov.pdf">Информация для подписчиков</a></li>
                <li><a href="/sovstud/">Советский студент</a></li>
                <li><a href="/vestnik/">Вестник БГСХА</a></li>
                <li><a href="/periodicheskie-izdaniya/">Сборники трудов «Проблемы экономики»</a></li>
                <li><a href="/zhivotnovodstvo/">Животноводство и ветеринарная медицина</a></li>
                </ul>
                <p>
                <strong>Информационные ресурсы библиотеки</strong>
                </p>
                <ul>
                <li><a href="http://elib.baa.by/">Электронная библиотека</a></li>
                <li><a href="https://library.baa.by/cgi-bin/irbis64r_14/cgiirbis_64.exe?LNG=&amp;C21COM=F&amp;I21DBN=BSAA&amp;P21DBN=BSAA">Электронный каталог</a></li>
                <li><a href="/ovuze//biblioteka/new/">Новые поступления литературы</a></li>
                </ul>
                <p>
                <strong>Наука</strong>
                </p>
                <ul>
                <li><a href="/science/nirs/konferencii/">Конференции и научные мероприятия</a></li>
                <li><a href="/science/authors/">Публикационная активность авторов</a></li>
                <li><a href="/news/?ELEMENT_ID=1591">Ученые Беларуси</a></li>
                <li><a href="/lab/">Лаборатории и услуги</a></li>
                <li><a href="/upload/science/innovacionnye-razrabotki20.pdf">Научные разработки</a></li>
                <li><a href="http://elc.baa.by/">Каталог научных трудов</a></li>
                </ul>
            .column
                <h2>Контакты:</h2>
                <p>
                <strong>Учреждение образования «Белорусская государственная орденов Октябрьской Революции и Трудового Красного Знамени сельскохозяйственная академия»</strong>
                </p>
                <p>
                <strong>Адрес:</strong>&nbsp;213410, Могилевская обл., г. Горки, ул. Мичурина, 5
                </p>
                <p>
                <strong>Банковские реквизиты:</strong>&nbsp;ЦБУ №708<br> ОАО «АСБ Беларусбанк» г.Горки, <br>р/с BY25AKBB36329000012567300000, БИК AKBBBY2Х, УНП 700077852, ОКПО 00493043</p>
                <p>
                <strong>Проезд:</strong>&nbsp;по железной дороге до станции Погодино (г. Горки), а также автобусом от Минска, Витебска, Могилева, Гомеля, Орши, Бобруйска, Дрибина, Мстиславля, Глуска до автовокзала г. Горки.</p>
                <p>
                <strong>Приемная ректора:</strong> +375 2233 79641
                </p>
                <p>
                <strong>Приемная комиссия</strong>: +375 2233 75965 (тел./факс), +375 2233 79731
                </p>
                <p>
                <strong>E-mail:</strong>&nbsp;<a href="mailto:pk_bgsha@baa.by">pk_bgsha@baa.by</a> (приемная комиссия), <a href="mailto:kancel@baa.by">kancel@baa.by</a> (ректор)
                </p>

        <h2 class="text_center">Академия на карте:</h2>
        .map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab62c9b3b395df08dadd4d211cb5eef377e79e7173014ba34ef04a86c716f8d13&amp;width=100%&amp;height=589&amp;lang=ru_RU&amp;scroll=true"></script>





